<%= stylesheet_link_tag 'fraread', :media => "all" %>

<h2>Text-to-Speech</h2>

<div class="fra">
<input type="text" id="text" name="text" value="" placeholder="Entrez s'il vous plait la phrase." />
<button onclick="readAloud()">Lire</button>
<p>The above passage(Français) is read out.<br>Click the button "Lire".</p>
</div>

<script>
function readAloud() {
  // テキストを取得
  const text = document.getElementById("text").value

  // ブラウザにWeb Speech API Speech Synthesis機能があるか判定
  if ('speechSynthesis' in window) {
    // 発言を設定
    const uttr = new SpeechSynthesisUtterance()
    
    // テキストを設定
    uttr.text = text

    // 言語を設定
    uttr.lang = 'fr'

    // フランス語に対応しているvoiceを設定
    const voices = speechSynthesis.getVoices()
    for (let i = 0; i < voices.length; i++) {
        if (voices[i].lang === 'fr') {
            uttr.voice = voices[i]
        }
    }

    // 発言を再生
    window.speechSynthesis.speak(uttr)

  } else {
    alert('Sorry for causing you concern. This service is not available on this browser.')
  }
}
</script>