<%= stylesheet_link_tag 'top', :media => "all" %>

<h2>使い方</h2>

<div class="about">
<h3>このサービスについて</h3>
<p>吃音症や場面緘黙症を患っている方、日本語が得意でない方、外国語の文法はある程度分かるが会話が苦手な方などに
このサービスが届いて少しでも役に立つことを願っています。さらに、吃音症や場面緘黙症を患っている方には、是非投稿
機能を用いて同じ様な境遇の方と交流していただき、より充実した日々を送っていただけることを願っています。また、
日本国外に訪れた時や日本国内で海外からの観光客に質問された時にも使っていただけると幸いです。</p>
</div>

<div class="htu">
<h3>使い方</h3>
<p>文章を入力して「読み上げる」ボタンを押すと、人工の音声が流れます。
不備がありましたら、投稿機能で何度か発信していただきたく思います。</p>
</div>